.eunit/
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps/

# rebar 3
.rebar3/
_build/
_checkouts/

# user adds
rebar3.crashdump
*.ez
doc/
logs/
.omc/
.DS_Store
.claude/
.backup/
