{erl_opts, [
    debug_info,
    warn_missing_spec,
    warnings_as_errors
]}.

{project_app_dirs, ["apps/*"]}.

{deps, [
    {telemetry, "~> 1.3"},
    {gun, "~> 2.1"}
]}.

{dialyzer, [
    {warnings, [error_handling, underspecs, unmatched_returns]},
    {plt_extra_apps, [telemetry, gun]}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "~> 1.4"},
            {meck, "~> 0.9"}
        ]},
        {erl_opts, [nowarn_export_all, nowarn_missing_spec]}
    ]}
]}.

{alias, [
    {check, [compile, dialyzer, {eunit, "-v"}, {ct, "-v"}]}
]}.
